/* Inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared Styles */
body {
    font-family: "Inter", sans-serif;
    max-width: 90rem;
}

.container {
    max-width: 66.25rem;
}

.flex {
    display: flex;
}
.primary-bg{
    background-color: rgb(230, 83, 60);
}

/* End Shared Styles */

/* Header Styles */
.header {
    background-color: linear-gradient(180.00deg,
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0) 100%);
}

/* Navbar Styles */
.logo {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-link ul {
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.navbar .nav-link ul a {
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
}
.nav-menu-bg{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
}

/* Banner Styles */