/* Inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*  Homemade Apple font */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/* Shared Styles */
body {
    font-family: "Inter", sans-serif;
    max-width: 90rem;
    margin: 0 auto;
    background: rgb(185, 185, 185);
}

.container {
    max-width: 66.25rem;
    margin: 0 auto;
    /* border: 1px solid gray; */
}

.flex {
    display: flex;
}

.mt-section {
    margin-top: 6.5rem;
}

.display-center {
    margin: 0 auto;
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
    padding: 1rem 2.5rem;
}

.btn-secondary {
    border: 1px solid rgb(255, 255, 255);
    background: none;
}

.primary-bg {
    background-color: rgb(230, 83, 60);
}

h2 {
    color: rgb(230, 83, 60);
    font-size: 4.37rem;
    font-weight: 800;
    line-height: 120%;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

h6 {
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 120%;
    margin-top: 1.6rem;
    margin-bottom: 0.5rem;
}

.normal-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.section-description-width {
    max-width: 41.93rem;
}

.mt-1 {
    margin-top: 1rem;
}

/* End Shared Styles */

/* Header Styles */
.header {
    background: linear-gradient(180.00deg,
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0) 100%);
    padding: 4rem 0;
}

/* Navbar Styles */
.logo {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-link ul {
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.navbar .nav-link ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
}

.nav-menu-bg {
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
}

/* Banner Styles */
.banner-container {
    justify-content: space-between;
    gap: 10.43rem;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;
    line-height: 120%;
}

#shape-txt {
    font-family: "Homemade Apple", cursive;
}

.banner-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.banner-image-part img {
    position: relative;
}

#red-circle {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.video-tutorial-banner-card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    gap: 12px;
    padding: 20px 23px;
    width: 12rem;
    height: 6rem;
    position: absolute;
    right: 35rem;
    bottom: 10rem;
}

.banner-card-video-tutorial-title {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin: 0;
}

.banner-car-sub-title {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin: 0;
}

.workout-banner-card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    justify-content: center;
    padding: 20px 23px;
    width: 12.87rem;
    height: 6rem;
    position: absolute;
    right: 10rem;
    top: 15rem;
}

.banner-card-workout-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin: 0;
}

.banner-card-workout-sub-title {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 1px;
    margin: 0;
}

/* Change Your Habits Section Styles */
.change-your-habits-section {
    text-align: center;
}

.change-your-habits-card img {
    border-radius: 50%;
}

.change-your-habits-section>h2 {
    margin-bottom: 1rem;
}

.change-your-habits-card-container {
    margin-top: 3.37rem;
    justify-content: space-between;
}

.change-your-habits-card-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.12rem;
    width: 14.43rem;
}

/* run extra mile styles */
.run-extra-mile-section {
    background: rgb(34, 34, 34);
    border-radius: 18px;
    gap: 10.3rem;
    justify-content: space-around;
}

.run-extra-mile-text-part {
    padding-left: 3rem;
}

.run-extra-mile-image-part img {
    max-width: 22.87rem;
    height: 19.5rem;
    border-radius: 18px;
    padding: 1.87rem 2rem 1.87rem 0;
}

/* Meet Our Team Styles */
.meet-our-team-section {
    text-align: center;
}

.meet-our-team-section-title {
    margin: 0;
}

.trainer-image-gallery {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 1.25rem;
    margin-top: 3.62rem;
}

.trainer-image-gallery img {
    max-width: 20.41rem;
    height: 17rem;
    border-radius: 18px;
}

.trainer-image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

/* Footer Styles */
.footer {
    background: rgba(255, 255, 255, 0.1);
    padding: 4rem 0 2.5rem 0;
}

.footer-content {
    display: grid;
    grid-template-columns: .41fr .21fr .21fr;
    justify-content: space-between;
}

.copyright-text {
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 5rem;
    padding-top: 2.25rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
}

.footer-column p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 120%;
}